.navbar{
  position: relative;
  top: 0;
  width: 100%;
  height: 10%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0  0 10px #780000;
}
.navbar__top{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 35%;
  width: 100%;
  background-color: #003049;
  padding: .5rem;
  box-sizing: border-box;
}
.top__language{
  width: 90%;
  height: 100%;
}
.language__ico{
  height: 100%;
  width: 2%;
}
.language__select{
  height: 2rem;
  width: 1%;
  outline: none;
  border: none;
  position: relative;
  top: -0.8rem;
  left: -3px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.top__btns{
  color: white;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navbar__bottom{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 55%;
  width: 100%;
  background-color: aliceblue;
  padding: .5rem;
  box-sizing: border-box;
}

.bottom__logo{
  height: 100%;
  width: 70%;
  font-size: 3rem;
  padding-left: 4rem;
}
.bottom__search{
  height: 100%;
  width: 20%;
  display: flex;
  margin-right: 2rem;
}
.search__input{
  width: 75%;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.8rem;
}
.search__ico{
  position: relative;
  right: 2.5rem;
}
.search__label{
  font-size: 2rem;
  width: 25%;
}

.bottom__car{
  height: 100%;
  width: 10%;
  position: relative;
  right: -10rem;
}
.bottom__car > button{
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cartNav{
  position: fixed;
  z-index: 1000;
  right: 2rem;
  box-shadow: 0  0 5px #780000;
  border-radius: 10px;
  height: 80%;
  width: 30%;
  box-sizing: border-box;
  background-color: aliceblue;
  transition: all 300ms ease-in-out;
}
.cartNav__after{
  display: none;
}



.none{
  text-decoration: none;
  color: white;
  font-size:1.5rem;
}